In [6]:
from pyspark.sql.functions import hour,minute,second,col,avg,when
import pyspark.sql.functions as sql_functions
from pyspark.sql import SQLContext
import datetime
from functools import reduce

In [2]:
sqlContext = SQLContext(sc)

In [3]:
x = sc.parallelize(["Joseph", "Jimmy", "Tina",
                   "Thomas", "James", "Cory",
                   "Christine", "Jackeline", "Juan"], 3)

In [11]:
y = x.groupBy(lambda word: word[0])

In [12]:
for t in y.collect():
   print((t[0],[i for i in t[1]]))

('J', ['Joseph', 'Jimmy', 'James', 'Jackeline', 'Juan'])
('T', ['Tina', 'Thomas'])
('C', ['Cory', 'Christine'])

In [5]:
numbers = range(-15, 15)
less_than_zero = list(filter(lambda x: x < 0, numbers))
print(less_than_zero)

[-15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [7]:
numbers = [1, 4, 6, 2, 9, 10]
def combine(x,y):
  return "(" + str(x) + ", " + str(y) + ")"

In [8]:
print(numbers)
reduce(combine,numbers)

[1, 4, 6, 2, 9, 10]

'(((((1, 4), 6), 2), 9), 10)'

In [10]:
temp_c = [10, 3, -5, 25, 1, 9, 29, -10, 5]
temp_K = list(map(lambda x: x + 273.15, temp_c))
list(temp_K)

[283.15, 276.15, 268.15, 298.15, 274.15, 282.15, 302.15, 263.15, 278.15]